# === GLOBAL CONFIGURATION ===

# The root domain used across all services
DOMAIN_NAME=localhost

# Public-facing name of the platform or service
OBSERVATORY_NAME=iObservatory

# Email used for Let's Encrypt certificate registration
LETSENCRYPT_EMAIL=example@mail.com
