# Wikimedia Gerrit extensions
gerrit Arrays
gerrit Babel
gerrit CategoryTree
gerrit Cite
gerrit CiteThisPage
gerrit cldr
gerrit CleanChanges
gerrit CodeEditor
gerrit CodeMirror
gerrit ConfirmEdit
gerrit DataTransfer
gerrit ExternalData
gerrit FlexDiagrams
gerrit Gadgets
gerrit HeaderTabs
gerrit IframePage
gerrit ImageMap
gerrit InputBox
gerrit MagicNoCache
gerrit Math
gerrit MultimediaViewer
gerrit Nuke
gerrit OpenIDConnect
gerrit PageForms
gerrit PageImages
gerrit PageSchemas
gerrit ParserFunctions
gerrit PdfHandler
gerrit PluggableAuth
gerrit Poem
gerrit ReplaceText
gerrit Scribunto
gerrit SecureLinkFixer
gerrit SpamBlacklist
gerrit SyntaxHighlight_GeSHi
gerrit TemplateData
gerrit TemplateWizard
gerrit TextExtracts
gerrit TitleBlacklist
gerrit Translate
gerrit UniversalLanguageSelector
gerrit Variables
gerrit VisualEditor
gerrit Widgets
gerrit WikiEditor

# External extensions
github ECharts https://github.com/neayi/mw-echarts.git
